<%= form_for @user, data: { controller: "form", "form-target": "form" } do |f| %>

  <div class="row mb-3">
    <div class="col">
      <%= f.label :name, class: "required form-label" %>
      <%= f.text_field :name, class: "form-control" %>
      <%= errors_for @user, :name %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col">
      <%= f.label :username, class: "form-label" %>
      <%= f.text_field :username, class: "form-control" %>
      <%= errors_for @user, :username %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col">
      <%= f.label :password, class: "form-label" %>
      <%= f.password_field :password, class: "form-control" %>
      <%= errors_for @user, :password %>
    </div>

    <div class="col">
      <%= f.label :password_confirmation, class: "form-label" %>
      <%= f.password_field :password_confirmation, class: "form-control" %>
      <%= errors_for @user, :password_confirmation %>
    </div>
  </div>

  <br>
  <br>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Iptal</button>
    <%= f.button class: "btn btn-primary" do %>
      <span class="show-when-enabled">Kaydet</span>
      <span class="show-when-disabled"><%= btn_disabled_animation %></span>
    <% end %>
  </div>

<% end %>