<!-- offcanvas -->
<div class="sidebar-nav offcanvas offcanvas-start bg-dark text-white" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-body p-0">
    <nav class="navbar-dark">
      <ul class="navbar-nav">
        <li>
          <div class="text-muted small fw-bold text-uppercase px-3">CORE</div>
        </li>
        <li>
          <a href="#" class="nav-link px-3 active">
            <span class="me-2"><i class="bi bi-speedometer2"></i></span>
            <span>Dasboard</span>
          </a>
        </li>


        <li>
          <a href="<%= users_path %>" class="nav-link px-3">
            <span class="me-2"><i class="bi bi-people"></i></span>
            <span>Kullanicilar</span>
          </a>
        </li>

        <li>
          <a href="<%= standarts_path %>" class="nav-link px-3">
            <span class="me-2"><i class="bi bi-building"></i></span>
            <span>Standartlar</span>
          </a>
        </li>

        <li>
          <a href="<%= business_processes_path %>" class="nav-link px-3">
            <span class="me-2"><i class="bi bi-briefcase"></i></span>
            <span>Is Surecleri</span>
          </a>
        </li>

        <li>
          <a href="<%= departments_path %>" class="nav-link px-3">
            <span class="me-2"><i class="bi bi-person-workspace"></i></span>
            <span>Departmanlar</span>
          </a>
        </li>

        <li>
          <a href="<%= performance_indicators_path %>" class="nav-link px-3">
            <span class="me-2"><i class="bi bi-stars"></i></span>
            <span>Performans Olcumleri</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
<!-- offcanvas -->