<%= content_tag :tr, id: dom_id(business_process) do %>
  <td><%= business_process.try(:id) %></td>
  <td><%= business_process.try(:name) %></td>
  <td><%= business_process.try(:description) %></td>
  <td class="text-end">
    <div class="btn-group" role="group" aria-label="Basic outlined example">
      <%= link_to "<i class='bi bi-eye'></i>".html_safe, business_process_path(business_process),
                  class: "btn btn-outline-secondary",
                  format: :turbo_stream,
                  data: { turbo_frame: "modal1" }
      %>
      <%= link_to "<i class='bi bi-pencil'></i>".html_safe, edit_business_process_path(business_process),
                  class: "btn btn-outline-secondary",
                  format: :turbo_stream,
                  data: { turbo_frame: "modal1" }
      %>
      <%= link_to "<i class='bi bi-trash'></i>".html_safe, business_process_path(business_process),
                  class: "btn btn-outline-secondary",
                  data: { turbo_method: :delete, turbo_confirm: "#{business_process.try(:name)} will be deleted !!!" }
      %>
    </div>
  </td>
<% end %>
