<!doctype html>
<html lang="en">
<head>
  <title>Giris</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
</head>

<body class="text-center">

<main class="form-signin w-100 m-auto">
  <%= yield %>
</main>

</body>

</html>
